# Mac files
.DS_Store

# Dependency directories
/node_modules
/package-lock.json
/web/package-lock.json
/studio/package-lock.json

/web/pages/lab

# lerna files
/lerna-debug.log

# Tokens

/web/.env.development