@font-face {
    font-family: 'BWHaasGrotesk';
    src: url('../fonts/BWHaasGrotesk-55Roman.woff2') format('woff2'),
    url('../fonts/BWHaasGrotesk-55Roman.woff') format('woff'),
    url('../fonts/BWHaasGrotesk-55Roman.eot') format('eot');
    font-style: normal;
    font-weight: 500; 
    font-display: fallback; 
  }

@font-face {
    font-family: 'BWHaasGrotesk';
    src: url('../fonts/BWHaasGrotesk-75Bold.woff2') format('woff2'),
    url('../fonts/BWHaasGrotesk-75Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;  
    font-display: fallback;
}
@font-face {
    font-family: 'BWHaasGrotesk';
    src: url('../fonts/BWHaasGrotesk-95Black.woff2') format('woff2'),
    url('../fonts/BWHaasGrotesk-95Black.woff') format('woff');
    font-style: normal;
    font-weight: 900;  
    font-display: fallback;
}