@import './custom-properties.css';
@import './custom-fonts.css';

::selection {
  background-color: rgb(52,85,219);
  color: black;
}

html {
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}
